.bgimage {
    height: 100vh;
    background: url('images/hero.JPG');
    background-size: cover;
    position: relative;
}

.hero_title {
    font-size: 150%;
    color: blue;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text{
    text-align: centre;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imageAboutPage {
    width: 100%;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    display: block;
    position:fixed;
}
